<th:block xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/principal">

	<div class="container-fluid" layout:fragment="conteudo">
		Modelo: <span th:text="${carro.modelo}"></span> <br> Ano: <span
			th:text="${carro.ano}"></span> <br> Preco: <span
			th:text="${carro.preco}"></span>

		<form method="post">
			Rg: <input name="rg" /> <br> Nome: <input name="nome" /> <br>
			<button type="submit">Salvar</button>
			<a href="/"><button type="button">Voltar</button></a>
		</form>

		<div class="container-fluid">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>Rg</th>
						<th>Nome</th>
						<th>Deletar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente : ${clientes}">
						<td th:text="${cliente.nome}"></td>
						<td th:text="${cliente.rg}"></td>
						<td><a
							th:href="${(#mvc.url('CC#deletarCliente').arg(0, cliente.rg)).build()}">
								<img style="width: 50px; height: 50px" alt="deletar"
								src="http://pluspng.com/img-png/delete-button-png-delete-icon-1600.png">
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</th:block>