<th:block xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/principal">

	<div class="container-fluid" layout:fragment="conteudo">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Modelo</th>
					<th>Ano</th>
					<th>Preço</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="carro : ${carros}">
					<td><a
						th:href="${(#mvc.url('CC#detalhesCarro').arg(0, carro.id)).build()}"><span
							th:text="${carro.modelo}"></span></a></td>
					<td th:text="${carro.ano}"></td>
					<td th:text="${carro.preco}"></td>
					<td><a
						th:href="${(#mvc.url('CC#deletarCarro').arg(0, carro.id)).build()}">
							<img style="width: 50px; height: 50px" alt="deletar"
							src="http://pluspng.com/img-png/delete-button-png-delete-icon-1600.png">
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>
